@using Rent_A_Car.BL.DTOs.Profile
@using Rent_A_Car.CORE.Enums
@model ProfileDTO
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" class="jarallax text-light">
		<img src="~/images/background/14.jpg" class="jarallax-img" alt="">
		<div class="center-y relative text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Sevimlilər</h1>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section id="section-settings" class="bg-gray-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 mb30">
					<div class="card padding30 rounded-5">
						<div class="profile_avatar">
							<div style="color:limegreen" class="profile_img">
								<img src="~/img/users/admin.jpg" alt="Profile Photo">
							</div>
							<div class="profile_name">
								<h4>
									@Model.Username
									<span class="profile_username text-gray">@Model.Email</span>
								</h4>
							</div>
						</div>
						<div class="spacer-20"></div>
						<ul class="menu-col">
							<li><a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.Username"><i style="color:limegreen" class="fa fa-home"></i>Profil</a></li>
							<li><a asp-action="MyAdvertisement" asp-controller="Profile" asp-route-username="@Model.Username"><i style="color:limegreen" class="fa fa-calendar"></i>Elanlarım</a></li>
							<li><a asp-action="FavouriteCar" asp-controller="Profile" asp-route-username="@Model.Username" style="background-color:limegreen" class="active"><i class="fa fa-car"></i>Sevimlilər</a></li>
							<li><a asp-action="Messages" asp-controller="Profile" asp-route-username="@Model.Username"><i style="color:limegreen" class="fas fa-envelope"></i>Mesajlar</a></li>
							<li><a asp-action="Tarixce" asp-controller="Profile" asp-route-username="@Model.Username"><i style="color:limegreen" class="fas fa-clock-o"></i>Tarixçə</a></li>
							<li><a asp-action="SignOut" asp-controller="Account"><i style="color:limegreen" class="fa fa-sign-out"></i>Çıxış</a></li>
						</ul>
					</div>
				</div>

                <div class="col-lg-9">
                    <div class="card padding30 rounded-5">
                        <h4>Sevimlilər</h4>

                        <div class="spacer-10"></div>
                        

                        @if (ViewBag.Favourite != null && ViewBag.Favourite.Count > 0)
                        {
                            <a class="btn-main clear-wishlist-btn"
                               style="background-color:red;cursor:pointer;width:200px;margin-left:690px;margin-bottom:20px">
                                Sevimliləri Təmizlə
                            </a>
                            @foreach (var item in ViewBag.Favourite)
                            {
                                <div class="de-item-list no-border mb30" id="fav-@item.Advertisement.Id">
                                    <div class="d-img">
                                        <img src="~/img/cars/@(item.Advertisement.ImageUrl)" class="img-fluid" alt="">
                                       
                                    </div>
                                    
                                    <div class="d-info">
                                        
                                        <div class="d-text">
                                            <h4>@(item.Advertisement.Brand.Name)  @(item.Advertisement.Model)</h4>
                                            <div class="d-atr-group">
                                                <ul class="d-atr">
                                                    <li><span>Seats:</span> 4</li>
                                                    <li><span>Luggage:</span> 2</li>
                                                    <li><span>Doors:</span> 4</li>
                                                    <li><span>City:</span> @(item.Advertisement.City)</li>
                                                    <li><span>Fuel:</span> @(item.Advertisement.FuelType)</li>
                                                    <li><span>Type:</span> @(item.Advertisement.Category.CategoryName)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-price">

                                        Daily rate from <span>$@(item.Advertisement.Price)</span>
                                        <a class="btn-main" asp-action="Detail" asp-controller="Advertisement" asp-route-id="@item.Advertisement.Id">Indi Icarələ</a>
                                        <a class="btn-main remove-wishlist-btn" style="background-color:red;cursor:pointer" data-id="@item.Advertisement.Id">Sil</a>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        }
                        else
                        {
                            <h3>Heç bir məlumat yoxdur</h3>
                        }
                    </div>
                </div>

                <!-- **JavaScript (AJAX ile wishlist'den silme)** -->
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        document.querySelectorAll(".remove-wishlist-btn").forEach(button => {
                            button.addEventListener("click", function () {
                                let advertisementId = this.getAttribute("data-id");

                                Swal.fire({
                                    title: "Əminsiniz?",
                                    text: "Bu elanı sevimlilərdən silmək istəyirsiniz?",
                                    icon: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#d33",
                                    cancelButtonColor: "#3085d6",
                                    confirmButtonText: "Bəli, sil!",
                                    cancelButtonText: "Xeyr, ləğv et"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        fetch(`/Profile/RemoveFromFavourite?id=${advertisementId}`, {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                                "X-Requested-With": "XMLHttpRequest"
                                            }
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.success) {
                                                Swal.fire("Silindi!", "Elan sevimlilərdən silindi.", "success");
                                                document.getElementById(`fav-${advertisementId}`).remove();
                                            } else {
                                                Swal.fire("Xəta!", "Silinmə zamanı problem yarandı.", "error");
                                            }
                                        })
                                        .catch(error => {
                                            Swal.fire("Xəta!", "Şəbəkə xətası baş verdi.", "error");
                                        });
                                    }
                                });
                            });
                        });
                    });
                </script>     
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        document.querySelector(".clear-wishlist-btn").addEventListener("click", function () {
                            Swal.fire({
                                title: "Əminsiniz?",
                                text: "Bütün sevimli elanları silmək istəyirsiniz?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#d33",
                                cancelButtonColor: "#3085d6",
                                confirmButtonText: "Bəli, təmizlə!",
                                cancelButtonText: "Xeyr, ləğv et"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch(`/Profile/ClearFavourites`, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "X-Requested-With": "XMLHttpRequest"
                                        }
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            Swal.fire("Təmizləndi!", "Bütün elanlar sevimlilərdən silindi.", "success");
                                            document.querySelectorAll(".de-item-list").forEach(el => el.remove());
                                        } else {
                                            Swal.fire("Xəta!", "Silinmə zamanı problem yarandı.", "error");
                                        }
                                    })
                                    .catch(error => {
                                        Swal.fire("Xəta!", "Şəbəkə xətası baş verdi.", "error");
                                    });
                                }
                            });
                        });
                    });
                </script>


			</div>
		</div>
	</section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>