@using Rent_A_Car.BL.DTOs.Profile
@using Rent_A_Car.CORE.Entities
@using Rent_A_Car.CORE.Enums
@model ProfileDTO
@{
	var favouriteList = ViewBag.Favourite;
}

<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" class="jarallax text-light">
		<img src="~/images/background/14.jpg" class="jarallax-img" alt="">
		<div class="center-y relative text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Profil</h1>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section id="section-cars" class="bg-gray-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 mb30">
					<div class="card padding30 rounded-5">
						<div class="profile_avatar">
							<div style="color:limegreen" class="profile_img">

								<img src="~/img/users/admin.jpg" alt="Profile Photo">

							</div>
							<div class="profile_name">
								<h4>
									@Model.Fullname
									<span class="profile_username text-gray">@Model.Email</span>
								</h4>
							</div>
						</div>
						<div class="spacer-20"></div>
						<ul class="menu-col">
							<li><a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.Username" style="background-color:limegreen" class="active"><i class="fa fa-home"></i>Profil</a></li>
							<li><a asp-action="MyAdvertisement" asp-controller="Profile" asp-route-username="@Model.Username"><i class="fa fa-calendar"></i>Elanlarım</a></li>
							<li><a asp-action="FavouriteCar" asp-controller="Profile" asp-route-username="@Model.Username"><i class="fa fa-car"></i>Sevimlilər</a></li>
							<li><a asp-action="Messages" asp-controller="Profile" asp-route-username="@Model.Username"><i style="color:limegreen" class="fas fa-envelope"></i>Mesajlar</a></li>
							<li><a asp-action="Tarixce" asp-controller="Profile" asp-route-username="@Model.Username"><i style="color:limegreen" class="fas fa-clock-o"></i>Tarixçə</a></li>
							<li><a asp-action="SignOut" asp-controller="Account"><i class="fa fa-sign-out"></i>Çıxış</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-3 col-6 mb25 order-sm-1">
							<div class="card padding30 rounded-5">
								<div class="symbol mb40">
									<!-- Buraya ikon eklenebilir -->
									@if (TempData["Success"] != null)
									{
										<div class="alert alert-success">
											@TempData["Success"]
										</div>
									}

									@if (TempData["Error"] != null)
									{
										<div class="alert alert-danger">
											@TempData["Error"]
										</div>
									}
								</div>

								<!-- Medaxil Butonu -->
								<a asp-action="Odenis" asp-controller="Payment" class="btn btn-success" id="medaxilBtn">
									<i class="fas fa-plus"></i> Medaxil
								</a>
								
								
								<br />

								<!-- Mexaric Butonu -->
								<a asp-action="Cixaris" asp-controller="Payment" class="btn btn-danger" id="mexaricBtn">
									<i class="fas fa-minus"></i> Mexaric
								</a>

								


							</div>
						</div>


						<div class="col-lg-3 col-6 mb25 order-sm-1">
							<div class="card padding30 rounded-5">
								<div class="symbol mb40">
									<i class="fa id-color fa-2x fa-car"></i>
								</div>
								<span class="h1 mb0">@ViewBag.FavCount</span>
								<span class="text-gray">Sevimlilər</span>
							</div>
						</div>
						<div class="col-lg-3 col-6 mb25 order-sm-1">
							<div class="card padding30 rounded-5">
								<div class="symbol mb40">
									<i class="fa id-color fa-2x fa-calendar-check-o"></i>
								</div>
								<span class="h1 mb0">@ViewBag.OrderCount</span>
								<span class="text-gray">İcarələr</span>
							</div>
						</div>



						<div class="col-lg-3 col-6 mb25 order-sm-1">
							<div class="card padding30 rounded-5">
								<div class="symbol mb40">
									<i class="fa id-color fa-2x fa-calendar"></i>
								</div>
								<span class="h1 mb0">@ViewBag.AdvCount</span>
								<span class="text-gray">Elan Sayı</span>
							</div>
						</div>


					</div>

					<div class="card padding30 rounded-5 mb25">
						<h4>Mənim icarələrim</h4>

						<table class="table de-table">
							<thead>
								<tr>
									<th scope="col"><span class="fs-12 text-gray">Order ID</span></th>
									<th scope="col"><span class="fs-12 text-gray">Maşın</span></th>
									<th scope="col"><span class="fs-12 text-gray">Təyinat Nöqtəsi</span></th>
									<th scope="col"><span class="fs-12 text-gray">Götürülmə vaxtı</span></th>
									<th scope="col"><span class="fs-12 text-gray">Qaytarılma vaxtı</span></th>
									<th scope="col"><span class="fs-12 text-gray">Məbləğ</span></th>
									<th scope="col"><span class="fs-12 text-gray">Sahibin Əlaqə Nömrəsi</span></th>
									<th scope="col"><span class="fs-12 text-gray">Status</span></th>
									<th scope="col"><span class="fs-12 text-gray">Elan Linki</span></th>
								</tr>
							</thead>
							<tbody>
								@if (ViewBag.Orders != null && ViewBag.Orders.Count > 0)
								{

									@foreach (var item in ViewBag.Orders)
									{
										<tr>
											<td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#@item.Id</div></td>
											<td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">@item.Advertisement.Brand.Name  @item.Advertisement.Model</span></td>
											<td><span class="d-lg-none d-sm-block">Pick Up Location</span>@item.PickupLocation</td>
											<td><span class="d-lg-none d-sm-block">Pick Up Date</span>@item.StartDate.ToString("dd/MM/yyyy")</td>
											<td><span class="d-lg-none d-sm-block">Return Date</span>@item.EndDate.ToString("dd/MM/yyyy")</td>
											<td>
												<span class="d-lg-none d-sm-block">Məbləğ</span>$@((item.EndDate - item.StartDate).Days * item.Advertisement.Price)
											</td>
											<td>
												<span class="d-lg-none d-sm-block">Məbləğ</span>+994@(item.Advertisement.PhoneNumber)

											</td>
											@if (item.Status == BookingStatus.Completed)
											{
												<td><div class="badge rounded-pill bg-success">Completed</div></td>
											}
											else if (item.Status == BookingStatus.Started) // `else if` istifadə edirik
											{
												<td><div class="badge rounded-pill bg-primary">Started</div></td>
											}
											else
											{
												<td><div class="badge rounded-pill bg-warning">Scheduled</div></td>
											}

											<td><a class="btn-main" style="background-color:yellowgreen" asp-route-id="@item.Advertisement.Id" asp-action="Detail" asp-controller="Advertisement">View Ad</a></td>
										</tr>
									}
								}
								else
								{
									<h3>Heç bir məlumat yoxdur</h3> <!-- "Empty" yerinə daha elmi və anlamlı ifadə -->
								}


							</tbody>
						</table>
					</div>
					<div class="card padding30 rounded-5 mb25">
						<h4>İcarəyə verilən maşınlarım</h4>

						<table class="table de-table">
							<thead>
								<tr>
									<th scope="col"><span class="fs-12 text-gray">Order ID</span></th>
									<th scope="col"><span class="fs-12 text-gray">Car Name</span></th>
									<th scope="col"><span class="fs-12 text-gray">Təyinat Nöqtəsi</span></th>
									<th scope="col"><span class="fs-12 text-gray">Götürülmə vaxtı</span></th>
									<th scope="col"><span class="fs-12 text-gray">Qaytarılma vaxtı</span></th>
									<th scope="col"><span class="fs-12 text-gray">Məbləğ</span></th>
									<th scope="col"><span class="fs-12 text-gray">İcarəçinin Telefon Nömrəsi</span></th>
									<th scope="col"><span class="fs-12 text-gray">Status</span></th>
									<th scope="col"><span class="fs-12 text-gray">Elan Link</span></th>
								</tr>
							</thead>
							<tbody>
								@if (ViewBag.Renters != null && ViewBag.Renters.Count > 0)
								{

									@foreach (var item in ViewBag.Renters)
									{
										<tr>
											<td><span class="d-lg-none d-sm-block">Order ID</span><div class="badge bg-gray-100 text-dark">#@item.Id</div></td>
											<td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">@item.Advertisement.Brand.Name  @item.Advertisement.Model</span></td>
											<td><span class="d-lg-none d-sm-block">Pick Up Location</span>@item.PickupLocation</td>
											<td><span class="d-lg-none d-sm-block">Pick Up Date</span>@item.StartDate.ToString("dd/MM/yyyy")</td>
											<td><span class="d-lg-none d-sm-block">Return Date</span>@item.EndDate.ToString("dd/MM/yyyy")</td>
											<td>
												<span class="d-lg-none d-sm-block">Məbləğ</span>$@((item.EndDate - item.StartDate).Days * item.Advertisement.Price)
											</td>
											<td>
												<span class="d-lg-none d-sm-block">Məbləğ</span>@item.PhoneNumber
											</td>
											@if (item.Status == BookingStatus.Completed)
											{
												<td><div class="badge rounded-pill bg-success">Completed</div></td>
											}
											else if (item.Status == BookingStatus.Started) // `else if` istifadə edirik
											{
												<td><div class="badge rounded-pill bg-primary">Started</div></td>
											}
											else
											{
												<td><div class="badge rounded-pill bg-warning">Scheduled</div></td>
											}

											<td><a class="btn-main" style="background-color:yellowgreen" asp-route-id="@item.Advertisement.Id" asp-action="Detail" asp-controller="Advertisement">View Ad</a></td>
										</tr>
									}
								}
								else
								{
									<h3>Heç bir məlumat yoxdur</h3> <!-- "Empty" yerinə daha elmi və anlamlı ifadə -->
								}


							</tbody>
						</table>
					</div>
					@* <div class="card padding30 rounded-5">
						<h4>My Favorites</h4>
						<div class="spacer-10"></div>
						@if (ViewBag.Favourite != null && ViewBag.Favourite.Count > 0)
						{
							@foreach (var item in ViewBag.Favourite)
							{


								<div class="de-item-list no-border mb30">
									<div class="d-img">
										<img src="~/img/cars/@(item.Advertisement.ImageUrl)" class="img-fluid" alt="">
									</div>
									<div class="d-info">
										<div class="d-text">
											<h4>@(item.Advertisement.Brand.Name)  @(item.Advertisement.Model)</h4>
											<div class="d-atr-group">
												<ul class="d-atr">
													<li><span>Seats:</span> 4</li>
													<li><span>Luggage:</span> 2</li>
													<li><span>Doors:</span> 4</li>
													<li><span>City:</span> @(item.Advertisement.City)</li>
													<li><span>Fuel:</span> @(item.Advertisement.FuelType)</li>
													<li><span>Type:</span> @(item.Advertisement.Category.CategoryName)</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="d-price">
										Daily rate from <span>$@(item.Advertisement.Price)</span>
										<a class="btn-main" asp-action="Detail" asp-controller="Advertisement" asp-route-id="@item.Advertisement.Id">Rent Now</a>
									</div>
									<div class="clearfix"></div>
								</div>
							}
						}
						else
						{
							<h3>List Empty</h3>
						}



					</div> *@
				</div>
			</div>
		</div>
	</section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>
