@using Rent_A_Car.BL.DTOs.Profile
@using Rent_A_Car.CORE.Entities
@model ProfileDTO
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" class="jarallax text-light">
		<img src="~/images/background/14.jpg" class="jarallax-img" alt="">
		<div class="center-y relative text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Mesajlar</h1>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section id="section-cars" class="bg-gray-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 mb30">
					<div class="card padding30 rounded-5">
						<div class="profile_avatar">
							<div style="color:limegreen" class="profile_img">

									<img src="~/img/users/admin.jpg" alt="Profile Photo">

							</div>
							<div class="profile_name">
								<h4>
									@Model.Fullname
									<span class="profile_username text-gray">@Model.Email</span>
								</h4>
							</div>
						</div>
						<div class="spacer-20"></div>
						<ul class="menu-col">
							<li><a asp-action="Index" asp-controller="Profile" asp-route-username="@Model.Username"  ><i class="fa fa-home"></i>Profil</a></li>
							<li><a asp-action="MyAdvertisement" asp-controller="Profile" asp-route-username="@Model.Username"><i class="fa fa-calendar"></i>Elanlarım</a></li>
							<li><a asp-action="FavouriteCar" asp-controller="Profile" asp-route-username="@Model.Username"><i class="fa fa-car"></i>Sevimlilər</a></li>
							<li><a asp-action="Messages" asp-controller="Profile" asp-route-username="@Model.Username" class="active"><i  class="fas fa-envelope"></i>Mesajlar</a></li>
							<li><a asp-action="Tarixce" asp-controller="Profile" asp-route-username="@Model.Username"><i class="fas fa-clock-o"></i>Tarixçə</a></li>
							<li><a asp-action="SignOut" asp-controller="Account"><i class="fa fa-sign-out"></i>Çıxış</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-9">
					
					<div class="card padding30 rounded-5 mb25">
						<h4>Mesajlarım</h4>

						<div style="display: flex; flex-direction: column; gap: 10px;">
							@if (ViewBag.Questions != null && ViewBag.Questions.Count > 0)
							{
								@foreach (var item in ViewBag.Questions)
								{
									@if (!string.IsNullOrEmpty(item.AdminResponse))
									{
										<div style="max-width: 70%; padding: 10px; border-radius: 8px;
                        @(item.UserId == User.Identity!.Name ? "align-self: flex-end; background-color: #f1f1f1;" : "align-self: flex-start; background-color: #e0e0e0;")">

											<strong>@item.QuestionText</strong>
											<p style="margin: 5px 0;">@item.AdminResponse</p>
											<span style="font-size: 12px; color: #777;">@item.ResponseAt</span>
										</div>
									}
								}
							}
							else
							{
								<h3>Heç bir məlumat yoxdur</h3>
							}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>
