@using Rent_A_Car.CORE.Entities
@model List<Advertisement>
<section role="main" class="content-body">
	<header class="page-header">
		<h2>Dashboard</h2>

		<div class="right-wrapper text-end">
			<ol class="breadcrumbs">
				<li>
					<a>
						<i class="bx bx-home-alt"></i>
					</a>
				</li>

				<li><span>Dashboard</span></li>
				<li><span>Advertisement</span></li>


			</ol>

			<a style="cursor: auto;" class="sidebar-right-toggle"></a>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-6">
			<section class="card" style="width:1140px">
				<header class="card-header">
					<div class="card-actions">
						<a href="#" class="card-action card-action-toggle" data-card-toggle></a>

					</div>
					<h2 class="card-title">Advertisement Table</h2>
				</header>
				<div class="card-body">
					<table class="table table-responsive-md mb-0">
						<thead>
							<tr>
								<th>#</th>
								<th>User</th>
								<th>Title</th>
								<th>Price</th>
								<th>Image</th>
								<th>Detail</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model ?? [])
							{
								<tr>
									<td>@item.Id</td>
									<td>@item.User.UserName</td>
									<td>@item.Title</td>
									<td>@item.Price</td>
									<td><img width="50px" src="~/img/cars/@item.ImageUrl" /></td>
									<td>
										<a href="/Advertisement/Detail/@item.Id" class="btn btn-primary btn-icon-split">
											<span class="icon text-white-50">
												<i class="fa-solid fa-flag"></i>
											</span>
											<span class="text">Link</span>
										</a>

									</td>
									<td class="actions">

										<a asp-action="Delete" asp-controller="Advertisement" asp-route-id="@item.Id" class="delete-row"><span class="text">Delete</span><br /><i class="far fa-trash-alt"></i></a>
										@if (!item.IsConfirmed)
										{

											<a asp-action="Confirm" asp-controller="Advertisement" asp-route-id="@item.Id"><span class="text">Confirm</span><br /><i class="fas fa-check-circle"></i></a>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</section>
