@using Rent_A_Car.CORE.Entities
@model List<Advertisement> 
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Cars</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-cars">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">  
                    <div class="item_filter_group">
                        <h4>Price ($)</h4>
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" value="0">
                            </div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" value="@ViewBag.MaxPrice">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="@ViewBag.MaxPrice" value="0" step="1">
                            <input type="range" class="range-max" min="0" max="@ViewBag.MaxPrice" value="@ViewBag.MaxPrice" step="1">
                        </div>
                    </div>
                    <div class="item_filter_group">
                        <h4>Car Brand</h4>
                        <div class="de_form">
                            @foreach (var item in ViewBag.Brand)
                            {
                                <div class="de_checkbox">
                                    <input id="brand_@item.Id"
                                           name="brands"
                                           type="checkbox"
                                           value="@item.Id"
                                           class="brand-checkbox">

                                    <label for="brand_@item.Id">@item.Name</label>
                                </div>
                            }




                        </div>
                    </div>
                    <div class="item_filter_group">
                        <h4>Car Body Type</h4>
                        <div class="de_form">
                            @foreach (var item in ViewBag.Category)
                            {
                                <div class="de_checkbox">
                                    <input id="category_@item.Id"
                                           name="categories"
                                           type="checkbox"
                                           value="@item.Id"
                                           class="category-checkbox">

                                    <label for="category_@item.Id">@item.CategoryName</label>
                                </div>
                            }


                            

                        </div>
                    </div> 
                    

                    

                </div>

                <div class="col-lg-9">
                    <div class="row">

                        @foreach (var item in Model ?? [])
                        {
                            <div class="col-xl-4 col-lg-6 car-item" data-category="@item.Category.Id" data-price="@item.Price" data-brand="@item.BrandId">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="img/cars/@item.ImageUrl" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>@item.Brand.Name @item.Model</h4>

                                            @if (User.Identity!.IsAuthenticated)
                                            {

                                                <div class="d-item_like">
                                                    <a class="add-to-favorite" elan-id="@item.Id">
                                                        <i class="fa-regular fa-heart heart-icon"></i>
                                                    </a>
                                                </div>



                                            }


                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="images/icons/1-green.svg" alt="">@item.City</span>
                                                <span class="d-atr"><img src="images/icons/2-green.svg" alt="">@item.FuelType</span>
                                                <span class="d-atr"><img src="images/icons/3-green.svg" alt="">4</span>
                                                <span class="d-atr"><img src="images/icons/4-green.svg" alt="">@item.Category.CategoryName</span>
                                            </div>

                                            <!-- View Count -->
                                            <div class="view-count">
                                                <i class="fa fa-eye"></i> <span id="view-count-@item.Id">@item.ViewCount</span> views
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$@item.Price</span>
                                                <a class="btn-main" asp-route-id="@item.Id" asp-action="Detail" asp-controller="Advertisement">Rent Now</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        



                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const categoryCheckboxes = document.querySelectorAll(".category-checkbox");
            const brandCheckboxes = document.querySelectorAll(".brand-checkbox");
            const carItems = document.querySelectorAll(".car-item");

            const minInput = document.querySelector(".input-min");
            const maxInput = document.querySelector(".input-max");

            const minRange = document.querySelector(".range-min");
            const maxRange = document.querySelector(".range-max");

            const priceSlider = document.querySelector(".slider .progress");

            minInput.addEventListener("input", filterCars);
            maxInput.addEventListener("input", filterCars);

            minRange.addEventListener("input", function () {
                minInput.value = minRange.value;
                filterCars();
            });

            maxRange.addEventListener("input", function () {
                maxInput.value = maxRange.value;
                filterCars();
            });

            categoryCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", function () {
                    filterCars();
                });
            });

            brandCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", function () {
                    filterCars();
                });
            });

            function filterCars() {
                // Seçilen kategorileri al
                const selectedCategories = Array.from(categoryCheckboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

                // Seçilen markaları al
                const selectedBrands = Array.from(brandCheckboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

                const minPrice = parseFloat(minInput.value);
                const maxPrice = parseFloat(maxInput.value);

                carItems.forEach(car => {
                    const carCategory = car.getAttribute("data-category");
                    const carBrand = car.getAttribute("data-brand");
                    const carPrice = parseFloat(car.getAttribute("data-price"));

                    const matchesCategory = selectedCategories.length === 0 || selectedCategories.includes(carCategory);
                    const matchesBrand = selectedBrands.length === 0 || selectedBrands.includes(carBrand);
                    const matchesPrice = carPrice >= minPrice && carPrice <= maxPrice;

                    // Tüm filtrelere uyan araçları göster
                    if (matchesCategory && matchesBrand && matchesPrice) {
                        car.style.display = "block";
                    } else {
                        car.style.display = "none";
                    }
                });

                // Fiyat aralığı slider'ı güncelle
                const progressWidth = ((maxPrice - minPrice) / (maxRange.max - minRange.min)) * 100;
                priceSlider.style.width = `${progressWidth}%`;
            }
        });
    </script>
    

    <script>
        $(document).ready(function () {

            fetch('/Home/GetFavouriteStatus')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $('.add-to-favorite').each(function () {
                            var adId = $(this).attr('elan-id');
                            var icon = $(this).find('i');

                            if (data.favouriteAds.includes(parseInt(adId))) {
                                console.log(adId);
                                icon.removeClass('fa-regular fa-heart').addClass('fa-solid fa-heart').css('color', '#ff4500');
                            }
                        });
                    }
                })
                .catch(error => console.error('Error checking favourite status:', error));


            $(document).on('click', '.add-to-favorite', function (e) {
                e.preventDefault();

                var adId = $(this).attr('elan-id');
                var icon = $(this).find('i');

                fetch('/Home/AddToFavourite/' + adId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'id=' + adId
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        toastr.success('Advertisement Added to Favourite');
                        icon.removeClass('fa-regular fa-heart').addClass('fa-solid fa-heart').css('color', '#ff4500');
                    } else {
                        toastr.error('Removed from Favourites');
                        icon.removeClass('fa-solid fa-heart').addClass('fa-regular fa-heart').css('color', 'grey');
                    }
                })
                .catch(error => {
                    console.error("Error: ", error);
                    toastr.error('An error occurred, please try again');
                });
            });
        });
    </script>
}
