@using Rent_A_Car.CORE.Enums
@using Rent_A_Car.MVC.VM
@model AdvertisementDetailViewModel
@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;    
}
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Vehicle Fleet</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-car-details">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div id="slider-carousel" class="owl-carousel">
                        <div class="item">
                            <img src="~/img/cars/@Model.Advertisement.ImageUrl" alt="">
                        </div>
                        @foreach (var item in Model.Advertisement.Images)
                        {
                            <div class="item">
                                <img src="~/img/cars/@item.OtherImageUrl" alt="">
                            </div>
                        }

                    </div>
                </div>

                <div class="col-lg-3">
                    <h3>@Model.Advertisement.Brand.Name @Model.Advertisement.Model</h3>
                    <p>@Model.Advertisement.Description</p>

                    <div class="spacer-10"></div>

                    <h4>Specifications</h4>
                    <div class="de-spec">
                        <div class="d-row">
                            <span class="d-title">Body</span>
                            <spam class="d-value">@Model.Advertisement.Category.CategoryName</spam>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Seat</span>
                            <spam class="d-value">2 seats</spam>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Door</span>
                            <spam class="d-value">2 doors</spam>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Luggage</span>
                            <spam class="d-value">150</spam>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Fuel Type</span>
                            <spam class="d-value">@Model.Advertisement.FuelType</spam>
                        </div>                        
                        <div class="d-row">
                            <span class="d-title">Year</span>
                            <spam class="d-value">@Model.Advertisement.Year</spam>
                        </div> 

                        <div class="d-row">
                            <span class="d-title">Color</span>
                            <spam class="d-value">@Model.Advertisement.Color</spam>
                        </div>
                    </div>

                    <div class="spacer-single"></div>

                    <h4>Features</h4>
                    <ul class="ul-style-2">
                        <li>Bluetooth</li>
                        <li>Multimedia Player</li>
                        <li>Central Lock</li>
                        <li>Sunroof</li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <div class="de-price text-center">
                        Daily rate
                        <h3>$@Model.Advertisement.Price</h3>
                    </div>
                    <div class="spacer-30"></div>
                    @if (User.Identity.Name == Model.Advertisement.User.UserName)
                    {

                    }
                    else if (!isAuthenticated)
                    {
                        // Giriş yapmamış kullanıcı için giriş formu
                        <div class="de-box mb25">
                            <form name="contactForm" id="contact_form" method="post">
                                <input asp-action="Login" asp-controller="Account" type="submit" id="send_message" value="Login For Book Now" style="background-color:dodgerblue" class="btn-main btn-fullwidth">
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    }
                    else
                    {
                        // Giriş yapmış kullanıcı için rezervasyon formu
                        <div class="de-box mb25">
                            <form action="/Advertisement/Book" method="post">
                                <h4>Booking this car</h4>
                                <div class="spacer-20"></div>
                                <input type="hidden" asp-for="BookingDTO.AdvertisementId" value="@Model.Advertisement.Id">
                                <input type="hidden" asp-for="BookingDTO.UserID" value="@Model.Advertisement.User.Id">
                                <div class="row">
                                    <!-- Pick Up Location -->
                                    <div class="col-lg-12 mb20">
                                        <h5>Pick Up Location</h5>
                                        <select asp-for="BookingDTO.PickupLocation" class="form-control">
                                            @foreach (PickupLocation item in Enum.GetValues(typeof(PickupLocation)))
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>



                                    <!-- Pick Up Date & Time -->
                                    <div class="col-lg-12 mb20">
                                        <h5>Pick Up Date & Time</h5>
                                        <div class="date-time-field">
                                            <input type="text" asp-for="BookingDTO.StartDate" class="form-control" id="date-picker" name="StartDate" value="@(Model.BookingDTO.StartDate)">
                                            <select asp-for="BookingDTO.PickupTime" class="form-control" name="PickUpTime" id="pickup-time">
                                                <option selected disabled value="Select time">Time</option>
                                                @for (int i = 0; i < 24; i++)
                                                {
                                                    <option value="@($"{i:D2}:00")">@($"{i:D2}:00")</option>
                                                    <option value="@($"{i:D2}:30")">@($"{i:D2}:30")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Return Date & Time -->
                                    <div class="col-lg-12 mb20">
                                        <h5>Return Date & Time</h5>
                                        <div class="date-time-field">
                                            <input type="text" asp-for="BookingDTO.EndDate" class="form-control" id="date-picker-2" name="EndDate" value="@(Model.BookingDTO.EndDate)">
                                            <select asp-for="BookingDTO.DropoffTime" class="form-control" name="DropoffTime" id="dropoff-time">
                                                <option selected disabled value="Select time">Time</option>
                                                @for (int i = 0; i < 24; i++)
                                                {
                                                    <option value="@($"{i:D2}:00")">@($"{i:D2}:00")</option>
                                                    <option value="@($"{i:D2}:30")">@($"{i:D2}:30")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <input type="submit"  value="Book Now" style="background-color:forestgreen" class="btn-main btn-fullwidth">
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    }
                    

                    <div class="de-box" style="border: 1px solid #ddd; padding: 15px; border-radius: 10px; width: 250px; text-align: center; margin: auto;">
                        <h4 style="margin-bottom: 10px; color: #333;">Contact</h4>
                        <div>
                            <h3 style="margin: 5px 0; color: #555;">@Model.Advertisement.User.UserName</h3>
                            <p style="margin: 5px 0; font-size: 14px; color: #777;">
                                Telefon: <a href="tel:@Model.Advertisement.PhoneNumber" style="text-decoration: none; color: #007bff;">@Model.Advertisement.PhoneNumber</a>
                            </p>

                            <a href="https://wa.me/(Model.PhoneNumber.Replace("+", "").Replace(" ", ""))" target="_blank" style="display: inline-block; margin-top: 10px; background: #25D366; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">
                                <span><i class="fa-brands fa-whatsapp" style="font-size: 20px;"></i></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>