@using Rent_A_Car.BL.DTOs.Advertisement
@using Rent_A_Car.CORE.Enums
@model AdvertisementCreateDTO

<!-- content begin -->
<div class="no-bottom no-top" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" class="jarallax text-light">
		<img src="images/background/subheader.jpg" class="jarallax-img" alt="">
		<div class="center-y relative text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Elan Yerlesdir</h1>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section id="section-hero" aria-label="section" class="no-top" data-bgcolor="#121212">
		<div class="container">
			<div class="row align-items-center">

				<div class="col-lg-12 mt-80 sm-mt-0">
					<div class="spacer-single sm-hide"></div>
					<div id="booking_form_wrap" class="padding40 rounded-5 shadow-soft" data-bgcolor="#ffffff">


						<form name="contactForm" class="form-s2 row g-4 on-submit-hide" method="post" enctype="multipart/form-data">

							<div class="col-lg-6 d-light">
								<h4>Rent A Car</h4>
								<select asp-for="BrandId" class="form-control" id="brands">
									<option value="">Marka Seçin</option>
									@foreach (var brand in ViewBag.Brand)
									{
										<option value="@brand.Id">@brand.Name</option>
									}
								</select>

								<br />

								<select asp-for="Model" class="form-control" id="models">
									<option value="">Ilk olaraq Marka Seçin</option>
								</select>
								<br />


								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Destination</h5>
										<select asp-for="CityName" class="form-control">
											@foreach (City item in Enum.GetValues(typeof(City)))
											{
												<option value="@item">@item</option>
											}
										</select>
									</div>



								</div>

								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Color</h5>
										<select asp-for="Color" class="form-control">
											@foreach (Color item in Enum.GetValues(typeof(Color)))
											{
												<option value="@item">@item</option>
											}
										</select>
									</div>
								</div>

								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Fuel Type</h5>
										<select asp-for="FuelType" class="form-control">
											@foreach (Fuel item in Enum.GetValues(typeof(Fuel)))
											{
												<option value="@item">@item</option>
											}
										</select>
									</div>



								</div>

								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Year</h5>
										<select asp-for="Year" class="form-control">
											@for (int i = 1950; i <= 2025; i++)
											{
												<option value="@i">@i</option>
											}
										</select>
									</div>



								</div>
								<div class="row g-4">

									<div class="col-lg-6">

										<label for="coverImage">Cover Image:</label>
										<input asp-for="CoverImage" type="file" id="coverImage" name="CoverImage" class="form-control" required />
									</div>



								</div><div class="row g-4">

									<div class="col-lg-6">
										<label for="otherFiles">Other Files:</label>
										<input asp-for="OtherFiles" type="file" id="otherFiles" name="OtherFiles" class="form-control" multiple required />
									</div>



								</div>

							</div>



							<div class="col-lg-6">
								<h4>Enter Your Details</h4>
								<div class="row g-4">
									<div class="col-lg-12">
										<div class="field-set">
											<input asp-for="Title" type="text"  class="form-control" placeholder="Title" required>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<h5>Minimal Gun Sayi</h5>
											<select asp-for="MinimalGunSayi" class="form-control">
												@for (int i = 1; i <= 30; i++)
												{
													<option value="@i">@i</option>
												}
											</select>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<h5>Minimal Suruculuk Vesiqesi</h5>
											<select asp-for="MinimalSuruculukVesiqesi" class="form-control">
												@for (int i = 1; i <= 5; i++)
												{
													<option value="@i">@i</option>
												}
											</select>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<input asp-for="PhoneNumber" type="number"  class="form-control" placeholder="Your Phone" required>
										</div>
									</div>

									<div class="col-lg-12">
										<div class="field-set">
											<textarea asp-for="Description" class="form-control" placeholder="Description" required></textarea>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<input asp-for="Price" type="number"  class="form-control" placeholder="Price" step="0.01" required>
										</div>
									</div>
								</div>

							</div>


							<div class="col-lg-3">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>

						<div id="success_message" class='success s2'>
							<div class="row">
								<div class="col-lg-8 offset-lg-2 text-light text-center">
									<h3 class="mb-2">Congratulations! Your booking has been sent successfully. We will contact you shortly.</h3>
									Refresh this page if you want to booking again.
									<div class="spacer-20"></div>
									<a class="btn-main btn-black" href="quick-booking.html">Reload this page</a>
								</div>
							</div>
						</div>
						<div id="error_message" class='error'>
							Sorry there was an error sending your form.
						</div>
					</div>

					<div id="success_message" class="bg-color text-light rounded-5">
						<div class="p-5 text-center">
							<h3 class="mb-2">Congratulations! Your booking has been sent successfully. We will contact you shortly.</h3>
							<p>Refresh this page if you want to booking again.</p>
							<a class="btn-main bg-dark" href="">Reload this page</a>
						</div>
					</div>
				</div>

			</div>

			<div class="spacer-double"></div>

			<div class="row text-light">
				<div class="col-lg-12">
					<div class="container-timeline">
						<ul>
							<li>
								<h4>Choose a vehicle</h4>
								<p>Unlock unparalleled adventures and memorable journeys with our vast fleet of vehicles tailored to suit every need, taste, and destination.</p>
							</li>
							<li>
								<h4>Pick location &amp; date</h4>
								<p>Pick your ideal location and date, and let us take you on a journey filled with convenience, flexibility, and unforgettable experiences.</p>
							</li>
							<li>
								<h4>Make a booking</h4>
								<p>Secure your reservation with ease, unlocking a world of possibilities and embarking on your next adventure with confidence.</p>
							</li>
							<li>
								<h4>Sit back &amp; relax</h4>
								<p>Hassle-free convenience as we take care of every detail, allowing you to unwind and embrace a journey filled comfort.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section aria-label="section" class="pt40 pb40 text-light">
		<div class="wow fadeInRight d-flex">
			<div class="de-marquee-list s2">
				<div class="d-item">
					<span class="d-item-txt">SUV</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Hatchback</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Crossover</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Convertible</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sedan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sports Car</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Coupe</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Station Wagon</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Truck</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivans</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Exotic Cars</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
				</div>
			</div>

			<div class="de-marquee-list s2">
				<div class="d-item">
					<span class="d-item-txt">SUV</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Hatchback</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Crossover</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Convertible</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sedan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sports Car</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Coupe</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Station Wagon</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Truck</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivans</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Exotic Cars</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
				</div>
			</div>
		</div>
	</section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>



@section scripts {
	<script>
				document.getElementById("brands").addEventListener("change", function () {
			var brandId = this.value;
			var modelSelect = document.getElementById("models");
			modelSelect.innerHTML = '<option value="">Model Seçiniz</option>';

			if (brandId) {
				fetch(`/Advertisement/GetModelsByBrandId?brandId=${brandId}`)
					.then(response => response.json())
					.then(data => {
						if (Array.isArray(data)) {
							data.forEach(model => {
								var option = document.createElement("option");
								option.value = model.name;
								option.textContent = model.name;
								modelSelect.appendChild(option);
							});
						} else {
							console.error("Beklenen formatta veri alınamadı:", data);
						}
					})
					.catch(error => console.error("Fetch sırasında hata:", error));
			} else {
				console.log("Lütfen bir marka seçiniz.");
			}
		});

	</script>
}




