@using Rent_A_Car.BL.DTOs.Advertisement
@using Rent_A_Car.CORE.Enums
@model AdvertisementCreateDTO

<!-- content begin -->
<div class="no-bottom no-top" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" class="jarallax text-light">
		<img src="images/background/subheader.jpg" class="jarallax-img" alt="">
		<div class="center-y relative text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Elan Yerlesdir</h1>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section id="section-hero" aria-label="section" class="no-top" data-bgcolor="#121212">
		<div class="container">
			<div class="row align-items-center">

				<div class="col-lg-12 mt-80 sm-mt-0">
					<div class="spacer-single sm-hide"></div>
					<div id="booking_form_wrap" class="padding40 rounded-5 shadow-soft" data-bgcolor="#ffffff">


						<form name="contactForm" class="form-s2 row g-4 on-submit-hide" method="post" enctype="multipart/form-data">

							<div class="col-lg-6 d-light">
								<h4>Rent A Car</h4>
								<select asp-for="BrandId" class="form-control" id="brands">
									<option value="">Marka Seçin</option>
									@foreach (var brand in ViewBag.Brand)
									{
										<option value="@brand.Id">@brand.Name</option>
									}
								</select>
								<span asp-validation-for="BrandId" class="text-danger"></span>

								<br />

								<select asp-for="Model" class="form-control" id="models" data-selected="@Model">
									<option value="">Ilk olaraq Marka Seçin</option>
								</select>
								<span asp-validation-for="Model" class="text-danger"></span>
								<br />


								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Destination</h5>
										<select asp-for="CityName" class="form-control">
											@foreach (City item in Enum.GetValues(typeof(City)))
											{
												<option value="@item">@item</option>
											}
										</select>
										
									</div>



								</div>

								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Color</h5>
										<select asp-for="Color" class="form-control">
											@foreach (Color item in Enum.GetValues(typeof(Color)))
											{
												<option value="@item">@item</option>
											}
										</select>
										
									</div>
								</div>

								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Fuel Type</h5>
										<select asp-for="FuelType" class="form-control">
											@foreach (Fuel item in Enum.GetValues(typeof(Fuel)))
											{
												<option value="@item">@item</option>
											}
										</select>
									</div>



								</div>

								<div class="row g-4">

									<div class="col-lg-6">
										<h5>Year</h5>
										<select asp-for="Year" class="form-control">
											@for (int i = 1950; i <= 2025; i++)
											{
												<option value="@i">@i</option>
											}
										</select>
									</div>



								</div>
								<div class="row g-4">

									<div class="col-lg-6">

										<label for="coverImage">Cover Image:</label>
										<input asp-for="CoverImage" type="file" id="coverImage" name="CoverImage" class="form-control"  />
										<span class="text-danger">@Html.ValidationMessage("CoverImage")</span>

									</div>



								</div><div class="row g-4">

									<div class="col-lg-6">
										<label for="otherFiles">Other Files:</label>
										<input asp-for="OtherFiles" type="file" id="otherFiles" name="OtherFiles" class="form-control" multiple/>
										<span class="text-danger">@Html.ValidationMessage("OtherFiles")</span>
									</div>
								</div>


							</div>



							<div class="col-lg-6">
								<h4>Enter Your Details</h4>
								<div class="row g-4">
									<div class="col-lg-12">
										<div class="field-set">
											<input asp-for="Title" type="text"  class="form-control" placeholder="Title" >
											<span asp-validation-for="Title" class="text-danger"></span>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<h5>Minimal Gun Sayi</h5>
											<select asp-for="MinimalGunSayi" class="form-control">
												@for (int i = 1; i <= 30; i++)
												{
													<option value="@i">@i</option>
												}
											</select>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<h5>Minimal Suruculuk Vesiqesi</h5>
											<select asp-for="MinimalSuruculukVesiqesi" class="form-control">
												@for (int i = 1; i <= 5; i++)
												{
													<option value="@i">@i</option>
												}
											</select>
										</div>
									</div>
									<h5>Phone Number</h5>
									<div class="col-lg-12">
										<div class="field-set">
											<div style="width:500px; display: flex; align-items: center; margin-right:200px">
												<span class="input-group-text form-control" style="width: 80px; text-align: center;">+994</span>
												<select id="phonePrefix" class="form-select form-control" style="width: 80px;">
													<option value="50">50</option>
													<option value="55">55</option>
													<option value="70">70</option>
													<option value="77">77</option>
												</select>
												<input id="phoneNumber" type="text" class="form-control" placeholder="XXXXXXX" maxlength="7" style="width: 150px;">
											</div>

											<!-- Gizli input - ASP.NET backend-ə göndərmək üçün -->
											<input type="hidden" asp-for="PhoneNumber" id="fullPhoneNumber">

											<span id="phoneError" class="text-danger"></span>
										</div>
									</div>

									
									<h5>Description</h5>

									<div class="col-lg-12">
										<div class="field-set">
											<textarea asp-for="Description" class="form-control" placeholder="Description" ></textarea>
											<span asp-validation-for="Description" class="text-danger"></span>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="field-set">
											<label for="price">Daily Rental Price ($):</label>
											<input asp-for="Price" id="price" type="number" class="form-control"
												   placeholder="Price" step="1" min="1" max="1000">
											<span asp-validation-for="Price" id="price-error" class="text-danger"></span>
										</div>
									</div>

									

								</div>

							</div>


							<div class="col-lg-3">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>

						<div id="success_message" class='success s2'>
							<div class="row">
								<div class="col-lg-8 offset-lg-2 text-light text-center">
									<h3 class="mb-2">Congratulations! Your booking has been sent successfully. We will contact you shortly.</h3>
									Refresh this page if you want to booking again.
									<div class="spacer-20"></div>
									<a class="btn-main btn-black" href="quick-booking.html">Reload this page</a>
								</div>
							</div>
						</div>
						<div id="error_message" class='error'>
							Sorry there was an error sending your form.
						</div>
					</div>

					<div id="success_message" class="bg-color text-light rounded-5">
						<div class="p-5 text-center">
							<h3 class="mb-2">Congratulations! Your booking has been sent successfully. We will contact you shortly.</h3>
							<p>Refresh this page if you want to booking again.</p>
							<a class="btn-main bg-dark" href="">Reload this page</a>
						</div>
					</div>
				</div>

			</div>

			<div class="spacer-double"></div>

			<div class="row text-light">
				<div class="col-lg-12">
					<div class="container-timeline">
						<ul>
							<li>
								<h4>Nəqliyyat vasitəsi seçin</h4>
								<p>Hər zövqə, ehtiyaca və istiqamətə uyğun geniş avtomobil parkımızla unudulmaz səyahətlərə və macəralara yola çıxın.</p>
							</li>
							<li>
								<h4>Məkan və tarixi seçin</h4>
								<p>İstədiyiniz məkanı və tarixi seçin və rahatlıq, çeviklik və unudulmaz təcrübələrlə dolu bir səyahətə çıxın.</p>
							</li>
							<li>
								<h4>Rezervasiya edin</h4>
								<p>Asanlıqla rezervasiya edin, imkanlarla dolu bir dünyaya qapı açın və növbəti səyahətinizə əminliklə başlayın.</p>
							</li>
							<li>
								<h4>Arxaya söykənin və rahatlayın</h4>
								<p>Bütün detalları biz həll edirik, siz isə rahatlıq və komfort dolu bir səyahətdən zövq alın.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section aria-label="section" class="pt40 pb40 text-light">
		<div class="wow fadeInRight d-flex">
			<div class="de-marquee-list s2">
				<div class="d-item">
					<span class="d-item-txt">SUV</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Hatchback</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Crossover</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Convertible</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sedan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sports Car</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Coupe</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Station Wagon</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Truck</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivans</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Exotic Cars</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
				</div>
			</div>

			<div class="de-marquee-list s2">
				<div class="d-item">
					<span class="d-item-txt">SUV</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Hatchback</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Crossover</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Convertible</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sedan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Sports Car</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Coupe</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivan</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Station Wagon</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Truck</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Minivans</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
					<span class="d-item-txt">Exotic Cars</span>
					<span class="d-item-display">
						<i class="d-item-dot"></i>
					</span>
				</div>
			</div>
		</div>
	</section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>



@section scripts {
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var brandSelect = document.getElementById("brands");
			var modelSelect = document.getElementById("models");

			// Backend-dən gələn əvvəlcədən seçilmiş model
			var selectedModel = modelSelect.getAttribute("data-selected");

			function loadModels(brandId, selectedModel = null) {
				modelSelect.innerHTML = '<option value="">Model Seçin</option>';

				if (brandId) {
					fetch(`/Advertisement/GetModelsByBrandId?brandId=${brandId}`)
						.then(response => response.json())
						.then(data => {
							if (Array.isArray(data)) {
								data.forEach(model => {
									var option = document.createElement("option");
									option.value = model.name;
									option.textContent = model.name;

									// Əvvəlcədən seçilmiş model varsa, onu seç
									if (selectedModel && model.name === selectedModel) {
										option.selected = true;
									}

									modelSelect.appendChild(option);
								});
							} else {
								console.error("Gözlənilən formatda məlumat alınmadı:", data);
							}
						})
						.catch(error => console.error("Fetch xətası:", error));
				}
			}

			// Əgər marka artıq seçilibsə, modeli yüklə
			if (brandSelect.value) {
				loadModels(brandSelect.value, selectedModel);
			}

			// Marka dəyişəndə modeli yenilə
			brandSelect.addEventListener("change", function () {
				loadModels(this.value);
			});
		});
	</script>
	<div class="col-lg-12">
		<div class="field-set">
			<label for="price">Daily Rental Price ($):</label>
			<input asp-for="Price" id="price" type="number" class="form-control"
				   placeholder="Price" step="1" min="1" max="1000">
			<span asp-validation-for="Price" id="price-error" class="text-danger"></span>
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let priceInput = document.getElementById("price");
			let errorSpan = document.getElementById("price-error");

			priceInput.addEventListener("input", function () {
				// Yalnız rəqəmlərə icazə ver
				this.value = this.value.replace(/[^0-9]/g, '');

				// Əgər dəyər 1000-dən çoxdursa, avtomatik 1000 et və xətanı göstər
				if (this.value > 1000) {
					this.value = 1000;
					errorSpan.textContent = "Maksimum məbləğ 1000 manatdır.";
				} else {
					errorSpan.textContent = "";
				}
			});

			priceInput.addEventListener("keydown", function (event) {
				// `e`, `-`, `+` düymələrinin bloklanması
				if (event.key === "e" || event.key === "E" || event.key === "-" || event.key === "+") {
					event.preventDefault();
				}
			});
		});
	</script>




	
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const phonePrefix = document.getElementById("phonePrefix");
			const phoneInput = document.getElementById("phoneNumber");
			const fullPhoneInput = document.getElementById("fullPhoneNumber");
			const phoneError = document.getElementById("phoneError");

			function updateFullPhoneNumber() {
				let prefix = phonePrefix.value;
				let number = phoneInput.value.replace(/\D/g, "").substring(0, 7); // Yalnız 7 rəqəm
				phoneInput.value = number; // Inputu formatla

				if (number.length < 7) {
					phoneError.innerText = "Telefon nömrəsi tam və bitişik yazılmalıdır (XXXXXXX).";
				} else {
					phoneError.innerText = "";
				}

				// ASP.NET backend-ə göndərmək üçün tam nömrəni gizli input-a yazırıq
				fullPhoneInput.value = "+994" + prefix + number;
			}

			phonePrefix.addEventListener("change", updateFullPhoneNumber);
			phoneInput.addEventListener("input", updateFullPhoneNumber);
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			function validateImageInput(input) {
				const allowedExtensions = ["jpg", "jpeg", "png", "gif", "webp"];
				const files = input.files;
				const invalidFiles = [];

				for (let i = 0; i < files.length; i++) {
					const fileName = files[i].name;
					const fileExtension = fileName.split(".").pop().toLowerCase();

					if (!allowedExtensions.includes(fileExtension)) {
						invalidFiles.push(fileName);
					}
				}

				if (invalidFiles.length > 0) {
					alert("Only image files are allowed! Invalid files: " + invalidFiles.join(", "));
					input.value = ""; // Seçilmiş faylları sil
				}
			}

			// Cover Image üçün
			document.getElementById("coverImage").addEventListener("change", function () {
				validateImageInput(this);
			});

			// Other Files üçün
			document.getElementById("otherFiles").addEventListener("change", function () {
				validateImageInput(this);
			});
		});
	</script>

}




