@using Rent_A_Car.CORE.Entities
@model List<Advertisement>
<!-- content begin -->
@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" aria-label="section" class="jarallax">
        <img src="images/background/1.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-light">
                    <div class="spacer-double"></div>
                    <div class="spacer-double"></div>
                    <h1 class="mb-2">Bir <span class="id-color">avtomobil</span> axtarırsınız? Doğru ünvandasınız.</h1>

                    <div class="spacer-single"></div>
                </div>

                @* <div class="col-lg-12">
                    <div class="spacer-single sm-hide"></div>
                    <div class="p-4 rounded-3 shadow-soft" data-bgcolor="#ffffff">


                        <form name="contactForm" id='contact_form' method="post">
                            <div id="step-1" class="row">
                                <div class="col-lg-6 mb30">
                                    <h5>What is your vehicle type?</h5>

                                    <div class="de_form de_radio row g-3">
                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1a" name="Car_Type" type="radio" value="Residential" checked="checked">
                                            <label for="radio-1a"><img src="images/select-form/car.png" alt="">Car</label>
                                        </div>

                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1b" name="Car_Type" type="radio" value="Office">
                                            <label for="radio-1b"><img src="images/select-form/van.png" alt="">Van</label>
                                        </div>

                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1c" name="Car_Type" type="radio" value="Commercial">
                                            <label for="radio-1c"><img src="images/select-form/minibus.png" alt="">Minibus</label>
                                        </div>

                                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                                            <input id="radio-1d" name="Car_Type" type="radio" value="Retail">
                                            <label for="radio-1d"><img src="images/select-form/sportscar.png" alt="">Prestige</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-6 mb20">
                                            <h5>Pick Up Location</h5>
                                            <input type="text" name="PickupLocation" onfocus="geolocate()" placeholder="Enter your pickup location" id="autocomplete" autocomplete="off" class="form-control">

                                            <div class="jls-address-preview jls-address-preview--hidden">
                                                <div class="jls-address-preview__header">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb20">
                                            <h5>Drop Off Location</h5>
                                            <input type="text" name="DropoffLocation" onfocus="geolocate()" placeholder="Enter your dropoff location" id="autocomplete2" autocomplete="off" class="form-control">

                                            <div class="jls-address-preview jls-address-preview--hidden">
                                                <div class="jls-address-preview__header">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb20">
                                            <h5>Pick Up Date & Time</h5>
                                            <div class="date-time-field">
                                                <input type="text" id="date-picker" name="Pick Up Date" value="">
                                                <select name="Pick Up Time" id="pickup-time">
                                                    <option selected disabled value="Select time">Time</option>
                                                    <option value="00:00">00:00</option>
                                                    <option value="00:30">00:30</option>
                                                    <option value="01:00">01:00</option>
                                                    <option value="01:30">01:30</option>
                                                    <option value="02:00">02:00</option>
                                                    <option value="02:30">02:30</option>
                                                    <option value="03:00">03:00</option>
                                                    <option value="03:30">03:30</option>
                                                    <option value="04:00">04:00</option>
                                                    <option value="04:30">04:30</option>
                                                    <option value="05:00">05:00</option>
                                                    <option value="05:30">05:30</option>
                                                    <option value="06:00">06:00</option>
                                                    <option value="06:30">06:30</option>
                                                    <option value="07:00">07:00</option>
                                                    <option value="07:30">07:30</option>
                                                    <option value="08:00">08:00</option>
                                                    <option value="08:30">08:30</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="19:30">19:30</option>
                                                    <option value="20:00">20:00</option>
                                                    <option value="20:30">20:30</option>
                                                    <option value="21:00">21:00</option>
                                                    <option value="21:30">21:30</option>
                                                    <option value="22:00">22:00</option>
                                                    <option value="22:30">22:30</option>
                                                    <option value="23:00">23:00</option>
                                                    <option value="23:30">23:30</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb20">
                                            <h5>Return Date & Time</h5>
                                            <div class="date-time-field">
                                                <input type="text" id="date-picker-2" name="Collection Date" value="">
                                                <select name="Collection Time" id="collection-time">
                                                    <option selected disabled value="Select time">Time</option>
                                                    <option value="00:00">00:00</option>
                                                    <option value="00:30">00:30</option>
                                                    <option value="01:00">01:00</option>
                                                    <option value="01:30">01:30</option>
                                                    <option value="02:00">02:00</option>
                                                    <option value="02:30">02:30</option>
                                                    <option value="03:00">03:00</option>
                                                    <option value="03:30">03:30</option>
                                                    <option value="04:00">04:00</option>
                                                    <option value="04:30">04:30</option>
                                                    <option value="05:00">05:00</option>
                                                    <option value="05:30">05:30</option>
                                                    <option value="06:00">06:00</option>
                                                    <option value="06:30">06:30</option>
                                                    <option value="07:00">07:00</option>
                                                    <option value="07:30">07:30</option>
                                                    <option value="08:00">08:00</option>
                                                    <option value="08:30">08:30</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="19:30">19:30</option>
                                                    <option value="20:00">20:00</option>
                                                    <option value="20:30">20:30</option>
                                                    <option value="21:00">21:00</option>
                                                    <option value="21:30">21:30</option>
                                                    <option value="22:00">22:00</option>
                                                    <option value="22:30">22:30</option>
                                                    <option value="23:00">23:00</option>
                                                    <option value="23:30">23:30</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <input type='submit' id='send_message' value='Find a Vehicle' class="btn-main pull-right">
                                </div>

                            </div>

                        </form>
                    </div>
                </div> *@

                <div class="spacer-double"></div>

                <div class="row">
                    <div class="col-lg-12 text-light">
                        <div class="container-timeline">
                            <ul>
                                <li>
                                    <h4>Avtomobil Seçin</h4>
                                    <p>Hər ehtiyaca, zövqə və istiqamətə uyğun geniş avtomobil parkımızla unudulmaz macəraların və maraqlı səyahətlərin qapısını açın.</p>
                                </li>
                                <li>
                                    <h4>Məkan və Tarixi Seçin</h4>
                                    <p>İdeal məkanınızı və tarixinizi seçin, biz isə sizə rahatlıq, çeviklik və unudulmaz təcrübələrlə dolu bir səyahət təqdim edək.</p>
                                </li>
                                <li>
                                    <h4>Rezervasiya Edin</h4>
                                    <p>Asanlıqla rezervasiya edərək yeni macəralara inamla yola çıxın və saysız imkanlardan faydalanın.</p>
                                </li>
                                <li>
                                    <h4>Arxaya Yaslanın və Rahatlayın</h4>
                                    <p>Biz hər detalı düşünürük, siz isə rahatlıqla yolculuğunuzun dadını çıxarın.</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="#111111">
        <div class="wow fadeInRight d-flex">
            <div class="de-marquee-list">
                <div class="d-item">
                    <span class="d-item-txt">SUV</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Hatchback</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Crossover</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Convertible</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Sedan</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Sports Car</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Coupe</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Minivan</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Station Wagon</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Truck</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Minivans</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Exotic Cars</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                </div>
            </div>

            <div class="de-marquee-list">
                <div class="d-item">
                    <span class="d-item-txt">SUV</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Hatchback</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Crossover</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Convertible</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Sedan</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Sports Car</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Coupe</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Minivan</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Station Wagon</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Truck</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Minivans</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                    <span class="d-item-txt">Exotic Cars</span>
                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <span class="subtitle">Niyə Bizi Seçməlisiniz</span>
                    <h2>Xidmət Xüsusiyyətlərimiz</h2>
                    <p>Unudulmaz macəralar və rahat nəqliyyat həlləri üçün təhlükəsizlik, rahatlıq və fərdiləşdirilmiş xidmətlər dünyasını kəşf edin.</p>
                    <div class="spacer-20"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-3">
                    <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                        <i class="fa bg-color fa-trophy"></i>
                        <div class="d-inner">
                            <h4>Birinci Dərəcəli Xidmət</h4>
                            Rahatlıq və yüksək səviyyəli qulluq bir araya gələrək unudulmaz anlar yaradır və gözləntilərinizi aşır.
                        </div>
                    </div>
                    <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".75s">
                        <i class="fa bg-color fa-road"></i>
                        <div class="d-inner">
                            <h4>24/7 Yol Yardımı</h4>
                            Sizi yolda tək qoymayan etibarlı dəstək – təhlükəsiz və rahat hərəkət etməyinizi təmin edir.
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img src="images/misc/car.png" alt="" class="img-fluid wow fadeInUp">
                </div>

                <div class="col-lg-3">
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInLeft" data-wow-delay="1s">
                        <i class="fa bg-color fa-tag"></i>
                        <div class="d-inner">
                            <h4>Maksimum Keyfiyyət, Minimum Xərc</h4>
                            Keyfiyyəti artıraraq xərcləri minimuma endirən sərfəli avtomobil icarəsi imkanlarından faydalanın.
                        </div>
                    </div>
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInLeft" data-wow-delay="1.25s">
                        <i class="fa bg-color fa-map-pin"></i>
                        <div class="d-inner">
                            <h4>Pulsuz Götürmə və Təhvil</h4>
                            Avtomobil icarənizi daha rahat etmək üçün pulsuz götürmə və təhvil vermə xidmətindən yararlanın.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="text-light jarallax">
        <img src="images/background/2.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInRight">
                    <h2>Müştərilərimizə istənilən tədbir üçün <span class="id-color">kommersiya avtomobilləri</span> və <span class="id-color">lüks avtomobillər</span> geniş seçim imkanı təqdim edirik.</h2>
                </div>
                <div class="col-lg-6 wow fadeInLeft">
                    Avtomobil icarə şirkətimizdə inanırıq ki, hər kəs, büdcəsindən asılı olmayaraq, etibarlı və rahat avtomobilin sürüş zövqünü yaşamağa layiqdir. Biz sizin üçün yaxşı saxlanılan, müxtəlif modellərdən ibarət bir avtomobil parkı hazırlamışıq – eleqant sedanlardan tutmuş geniş SUV-lərə qədər, hamısı sərfəli qiymətlərlə. Sürətli və rahat icarə prosesi sayəsində istədiyiniz avtomobili qısa zamanda rezerv edə bilərsiniz. İstər işgüzar səfər, ailəvi istirahət, istərsə də həftəsonu səyahəti üçün çevik icarə variantlarımız sizə uyğun olacaq.
                </div>
            </div>
            <div class="spacer-double"></div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count bg-dark text-light wow fadeInUp">
                        <h3 class="timer" data-to="@ViewBag.OrderCount" data-speed="3000">0</h3>
                        Tamamlanmış Sifarişlər
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count bg-dark text-light wow fadeInUp">
                        <h3 class="timer" data-to="@ViewBag.UserCount" data-speed="3000">0</h3>
                        Məmnun Müştərilər
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count bg-dark text-light wow fadeInUp">
                        <h3 class="timer" data-to="@ViewBag.AdvCount" data-speed="3000">0</h3>
                        Avtomobil Elanları
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count bg-dark text-light wow fadeInUp">
                        <h3 class="timer" data-to="1" data-speed="3000">0</h3>
                        İllik Təcrübə
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="section-cars">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <span class="subtitle">Sürüşünüzdən Zövq Alın</span>
                    <h2>VIP Elan</h2>
                    <p>Xəyallarınızı gerçəyə çevirən geniş və rahat avtomobil parkı ilə unudulmaz səyahətlərə çıxın.</p>
                    <div class="spacer-20"></div>
                </div>


                <div>
                    <div class="row">

                        @foreach (var item in Model ?? [])
                        {
                            <div style="width:320px"  data-category="@item.Category.Id" data-price="@item.Price" data-brand="@item.BrandId">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="img/cars/@item.ImageUrl" class="img-fluid fixed-size" alt="">
                                    </div>

                                    <style>
                                        .fixed-size {
                                        width: 300px;
                                        height: 175px;
                                        object-fit: cover;
                                        }
                                    </style>

                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>@item.Brand.Name @item.Model</h4>

                                            @if (User.Identity!.IsAuthenticated && item.UserId != User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                                            {

                                                <div class="d-item_like">
                                                    <a class="add-to-favorite" elan-id="@item.Id">
                                                        <i class="fa-regular fa-heart heart-icon"></i>
                                                    </a>
                                                </div>

                                            }


                                            <div class="d-atr-group">

                                                <span class="d-atr"><img src="images/icons/2-green.svg" alt="">@item.FuelType</span>
                                                <span class="d-atr"><img src="images/icons/3-green.svg" alt="">4</span>
                                                <span class="d-atr"><img src="images/icons/4-green.svg" alt="">@item.Category.CategoryName</span>
                                            </div>

                                            <!-- View Count -->
                                            <div class="view-count">
                                                <i class="fa fa-eye"></i> <span id="view-count-@item.Id">@item.ViewCount</span> views
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$@item.Price</span>
                                                <a class="btn-main" asp-route-id="@item.Id" asp-action="Detail" asp-controller="Advertisement">Rent Now</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }      



                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="text-light jarallax" aria-label="section">
        <img src="images/background/3.jpg" alt="" class="jarallax-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1>Səyahətiniz Başlasın</h1>
                    <div class="spacer-20"></div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-trophy de-icon mb20"></i>
                    <h4>Birinci Dərəcəli Xidmət</h4>
                    <p>Rahatlıq və keyfiyyətin birləşdiyi yer – unudulmaz anlar yaşamağınız və gözləntilərinizin üstündə bir təcrübə üçün.</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-road de-icon mb20"></i>
                    <h4>24/7 Yol Yardımı</h4>
                    <p>Yolda qaldığınız zaman etibarlı dəstək – sizi daim təhlükəsiz və rahat şəkildə hərəkətdə saxlayır.</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-map-pin de-icon mb20"></i>
                    <h4>Pulsuz Götürmə və Təhvil</h4>
                    <p>İcarə təcrübənizi daha rahat etmək üçün pulsuz avtomobil götürmə və təhvil vermə xidməti.</p>
                </div>
            </div>
        </div>

    </section>



    <section id="section-faq">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <span class="subtitle">Sizin</span>
                    <h2>Suallarınız var?</h2>
                    <div class="spacer-20"></div>
                </div>

            </div>
            <div class="row g-custom-x">
                <div class="col-md-6 wow fadeInUp">
                    <div class="accordion secondary">
                        <div class="accordion-section">
                            @if (ViewBag.Questions1 != null && ViewBag.Questions1.Count > 0)
                            {
                                @foreach (var item in ViewBag.Questions1)
                                {
                                    <div class="accordion-section-title" data-tab="#accordion-@item.Id">
                                        @item.QuestionText
                                    </div>
                                    <div class="accordion-section-content" id="accordion-@item.Id">
                                        <p>@item.AdminResponse</p>
                                    </div>
                                }
                            }
                            else
                            {

                            }
                        </div>
                    </div>
                </div>


                <div class="col-md-6 wow fadeInUp">
                    <div class="accordion secondary">
                        <div class="accordion-section">
                            @if (ViewBag.Questions2 != null && ViewBag.Questions2.Count > 0)
                            {
                                @foreach (var item in ViewBag.Questions2)
                                {
                                    <div class="accordion-section-title" data-tab="#accordion-@item.Id">
                                        @item.QuestionText
                                    </div>
                                    <div class="accordion-section-content" id="accordion-@item.Id">
                                        <p>@item.AdminResponse</p>
                                    </div>
                                }
                            }
                            else
                            {

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    

    <section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
        <div class="container">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 offset-lg-2">
                        <span class="subtitle text-white">Əlavə məlumat üçün bizə zəng edin</span>
                        <h2 class="s2">Rentaly müştəri xidməti sizə hər zaman kömək etməyə hazırdır.</h2>
                    </div>

                    <div class="col-lg-4 text-lg-center text-sm-center">
                        <div class="phone-num-big">
                            <i class="fa fa-phone"></i>
                            <span class="pnb-text">
                                İndi bizə zəng edin
                            </span>
                            <span class="pnb-num">
                                1 200 333 800
                            </span>
                        </div>
                        <a asp-action="Index" asp-controller="Contact" class="btn-main">Bizimlə əlaqə saxlayın</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>
@section scripts {
    

    <script>
        $(document).ready(function () {
            
            fetch('/Home/GetFavouriteStatus')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $('.add-to-favorite').each(function () {
                            var adId = $(this).attr('elan-id');
                            var icon = $(this).find('i');

                            if (data.favouriteAds.includes(parseInt(adId))) {
                                console.log(adId);
                                icon.removeClass('fa-regular fa-heart').addClass('fa-solid fa-heart').css('color', '#ff4500');
                            }
                        });
                    }
                })
                .catch(error => console.error('Error checking favourite status:', error));

            
            $(document).on('click', '.add-to-favorite', function (e) {
                e.preventDefault(); 

                var adId = $(this).attr('elan-id');
                var icon = $(this).find('i');

                fetch('/Home/AddToFavourite/' + adId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'id=' + adId 
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        toastr.success('Advertisement Added to Favourite');
                        icon.removeClass('fa-regular fa-heart').addClass('fa-solid fa-heart').css('color', '#ff4500');
                    } else {
                        toastr.error('Removed from Favourites');
                        icon.removeClass('fa-solid fa-heart').addClass('fa-regular fa-heart').css('color', 'grey');
                    }
                })
                .catch(error => {
                    console.error("Error: ", error);
                    toastr.error('An error occurred, please try again');
                });
            });
        });
    </script>
    
}


